<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to 'Home', cocktails_path %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Add Cocktail', new_cocktail_path %>
      </li>
    </ul>
  </div>
</div>
